
@{
    ViewBag.Title = "Help";
}

<h2>Help</h2>


<div class="panel panel-info">
    <div class="panel-heading">Panel with panel-info class</div>
    <div class="panel-body">Panel-Content</div>
</div>