
@{
    ViewBag.Title = "AssessmentList";
}

<h2>AssessmentList</h2>


<div class="panel panel-info">
    <div class="panel-heading">Panel with panel-info class</div>
    <div class="panel-body">
        <div class="table-responsive">
            <table class="table table-striped">
                <thead>
                    <tr>
                        <th>KCS Date</th>
                        <th>Business</th>
                        <th>Coach</th>
                        <th>TSE</th>
                        <th>Case</th>
                        <th>Article</th>
                        <th></th>
                    </tr>
                </thead>
                <tbody>
                    <tr>
                        <td>05-29-2020</td>
                        <td>IGT</td>
                        <td>Beatrice Ahmad</td>
                        <td>Balaji KJ</td>
                        <td>0987654</td>
                        <td>123456</td>
                        <td><a href="/KCSAssessment/Index/">Review</a></td>
                    </tr>
                </tbody>
            </table>
        </div>

    </div>
</div>