
@{
    ViewBag.Title = "Index";
}
<style>
    .alnleft {
        text-align: left;
    }

    .table-hover {
        font-size: 15px;
    }

    .Radio {
        display: inline-flex;
        align-items: center;
    }

    .Radio--large {
        font-size: 2rem;
    }

    .Radio-Input {
        margin: 0 0.5rem 0;
    }

    .top-buffer {
        margin-top: 20px;
    }
</style>
<h2>KCS Assessment</h2>
<div class=".container-fluid">

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Article is Unique
            </div>

            <div class="panel-body">
                <div class="custom-control custom-radio">
                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                    <label class="custom-control-label" for="defaultUnchecked">Yes +20</label>
                    <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                    <label class="custom-control-label" for="defaultChecked">N/A +20</label>
                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                    <input type="radio" class="custom-control-input" id="defaultChecked" name="defaultExampleRadios" checked>
                    <label class="custom-control-label" for="defaultChecked">Yes, Corrected +10</label>
                    <input type="radio" class="custom-control-input" id="defaultUnchecked" name="defaultExampleRadios">
                    <label class="custom-control-label" for="defaultUnchecked">No Article(s) attached</label>
                </div>
            </div>

        </div>


        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Panel With title
                </h3>
            </div>

            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>
    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Panel heading without title
            </div>

            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Panel With title
                </h3>
            </div>

            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>

    <div class="row">
        <div class="panel panel-default">
            <div class="panel-heading">
                Panel heading without title
            </div>

            <div class="panel-body">
                Panel content
            </div>
        </div>

        <div class="panel panel-default">
            <div class="panel-heading">
                <h3 class="panel-title">
                    Panel With title
                </h3>
            </div>

            <div class="panel-body">
                Panel content
            </div>
        </div>
    </div>

</div>
