@model KCSEntities.DAL.KCSAssessment
@{
    ViewBag.Title = "Index";
}
<style>
  
    body {
        padding: 10px;
    }
  
    #exTab1 .tab-content {
        color: white;
        /*background-color: #428bca;*/
        padding: 5px 15px;
    }

    #exTab2 h3 {
        color: white;
        /*background-color: #428bca;*/
        padding: 5px 15px;
    }

    /* remove border radius for the tab */

    #exTab1 .nav-pills > li > a {
        border-radius: 0;
    }

    /* change border radius for the tab , apply corners on top*/

    #exTab3 .nav-pills > li > a {
        border-radius: 4px 4px 0 0;
    }

    #exTab3 .tab-content {
        color: white;
        /*background-color: #428bca;*/
        padding: 5px 15px;
    }
    .nav-tabs {
        background-color: #161616;
    }

    .tab-content {
        /*background-color: #303136;*/
        color: #fff;
        padding: 5px
    }

    .nav-tabs > li > a {
        border: medium none;
    }

        .nav-tabs > li > a:hover {
            background-color: #303136 !important;
            border: medium none;
            border-radius: 0;
            color: #fff;
        }
    label {
        font-weight: normal;
    }
    .panel-default {
        border:none;
    }
    .panel-info {
        border:none;
    }
    .panel-default > .panel-heading-custom {
        background:#f1f5f6;
        color: #303136;
    }
    .required:after {
        content: " *";
        color: red;
    }
    .validation {
        color:red;
    }

    .numberCircle {
        border-radius: 50%;
        width: 36px;
        height: 36px;
        padding: 8px;
        background: #fff;
        border: 1px solid #666;
        color: #666;
        text-align: center;
        font: 10px Arial, sans-serif;
    }
</style>    
<h2>KCS Assessment</h2>
<div class=".container-fluid">
    <form action="@Url.Action("SubmitKCSAssessment", "KCSAssessment")" method="post" onsubmit="return validateFields();">
        <div class="row">
            <div id="exTab1" class="container">
                <ul class="nav nav-pills">
                    <li class="active">
                        <a href="#1a" data-toggle="tab">Assessment Information</a>
                    </li>
                    <li>
                        <a href="#4a" data-toggle="tab">Link Accuracy</a>
                    </li>
                    <li>
                        <a href="#2a" data-toggle="tab">Contribution Index</a>
                    </li>
                    <li>
                        <a href="#3a" data-toggle="tab">Article Quality Index (AQI)</a>
                    </li>
                    <li>
                        <a href="#5a" data-toggle="tab">Feedback</a>
                    </li>
                </ul>

                <div class="tab-content clearfix">
                    <div class="tab-pane active" id="1a">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom required">
                                <span class="validation">@Html.ValidationMessageFor(model => model.AInfo1)</span>
                                1. Date KCS assessment was performed
                            </div>

                            <div class="panel-body">
                                <input type="date" tabindex="1" class="form-control" name="AInfo1" id="AInfo1" aria-describedby="emailHelp" 
                                       placeholder="Date KCS assessment was performed" required oninvalid="this.setCustomValidity('KCS Date was performed cannot be empty')" oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <span class="validation">@Html.ValidationMessageFor(model => model.AInfo2)</span>
                            <div class="panel-heading panel-heading-custom required">
                                2. Business Name
                            </div>

                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="2">
                                    <input type="radio" class="custom-control-input" id="BusinessName1" name="BusinessName">
                                    <label class="custom-control-label" for="defaultUnchecked">IGS</label>
                                    <input type="radio" class="custom-control-input" id="BusinessName2" name="BusinessName">
                                    <label class="custom-control-label" for="defaultUnchecked">Voice</label>
                                    <input type="hidden" id="AInfo2" name="AInfo2" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom required">
                                3. TSE's Name
                            </div>

                            <div class="panel-body">
                                <input type="text" tabindex="3"  class="form-control" id="AInfo3" name="AInfo3" aria-describedby="emailHelp" 
                                       placeholder="TSE Name" required  oninvalid="this.setCustomValidity('TSE Name cannot be empty')" oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom required">
                                4. Coach Name
                            </div>

                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="4">
                                    <input type="radio" class="custom-control-input" id="BA" name="CoachName">
                                    <label class="custom-control-label" for="defaultUnchecked">Beatrice Ahmad</label>
                                    <input type="radio" class="custom-control-input" id="GS" name="CoachName">
                                    <label class="custom-control-label" for="defaultUnchecked">Gabriel Stefan</label>
                                    <input type="radio" class="custom-control-input" id="PP" name="CoachName">
                                    <label class="custom-control-label" for="defaultUnchecked">Pamela Perez</label>
                                    <input type="radio" class="custom-control-input" id="GP" name="CoachName">
                                    <label class="custom-control-label" for="defaultUnchecked">Gabriel Perez</label>
                                    <input type="radio" class="custom-control-input" id="SV" name="CoachName">
                                    <label class="custom-control-label" for="defaultUnchecked">Sue Van Gelder</label>
                                    <input type="hidden" id="AInfo4" name="AInfo4"/>
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom required">
                                5. Case Number
                            </div>

                            <div class="panel-body">
                                <input type="text" tabindex="5" class="form-control" id="AInfo5" name="AInfo5" aria-describedby="emailHelp" 
                                       placeholder="Case Number" required oninvalid="this.setCustomValidity('Case Number cannot be empty')" oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom required">
                                6. Article Number
                            </div>

                            <div class="panel-body">
                                <input type="text" tabindex="6" class="form-control" id="AInfo6" name="AInfo6" aria-describedby="emailHelp" 
                                       placeholder="Article Number" required oninvalid="this.setCustomValidity('Article Number cannot be empty')" oninput="this.setCustomValidity('')">
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="4a">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom" >
                                1. Is this Article attached/linked fully resolves the customer's question/problem?
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio">
                                    <input type="radio" class="custom-control-input" id="LInfo1Yes100" name="LInfo1Article">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes 100%</label>
                                    <input type="radio" class="custom-control-input" id="LInfo1Corrected50" name="LInfo1Article">
                                    <label class="custom-control-label" for="defaultUnchecked">Corrected 50%</label>
                                    <input type="radio" class="custom-control-input" id="LInfo1No0" name="LInfo1Article">
                                    <label class="custom-control-label" for="defaultUnchecked">No 0%</label>
                                    <input type="hidden" id="LInfo1" name="LInfo1" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="2a">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                1. Oppertunity to line resolution article
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="1">
                                    <input type="radio" class="custom-control-input" id="CInfo1Yes" name="CInfo1ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes</label>
                                    <input type="radio" class="custom-control-input" id="CInfo1No" name="CInfo1ContributionIndex">
                                    <label class="custom-control-label" for="CInfo1No">No</label>
                                    <input type="hidden" id="CInfo1" name="CInfo1" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                2. Agent Linked resolution article
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="2">
                                    <input type="radio" class="custom-control-input" id="CInfo2Yes" name="CInfo2ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes</label>
                                    <input type="radio" class="custom-control-input" id="CInfo2No" name="CInfo2ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="CInfo2NA" name="CInfo2ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">N/A</label>
                                    <input type="hidden" id="CInfo2" name="CInfo2" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                3. Oppertunity to modify existing article
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="3">
                                    <input type="radio" class="custom-control-input" id="CInfo3Yes" name="CInfo3ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes</label>
                                    <input type="radio" class="custom-control-input" id="CInfo3No" name="CInfo3ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="hidden" id="CInfo3" name="CInfo3" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                4. Agent modified existing attached article
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="4">
                                    <input type="radio" class="custom-control-input" id="CInfo4Yes" name="CInfo4ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes</label>
                                    <input type="radio" class="custom-control-input" id="CInfo4No" name="CInfo4ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="CInfo4NA" name="CInfo4ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">N/A</label>
                                    <input type="hidden" id="CInfo4" name="CInfo4" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                5. Oppertunity to create article
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="5">
                                    <input type="radio" class="custom-control-input" id="CInfo5Yes" name="CInfo5ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes</label>
                                    <input type="radio" class="custom-control-input" id="CInfo5No" name="CInfo5ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="hidden" id="CInfo5" name="CInfo5" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                6. Agent created new article
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="6">
                                    <input type="radio" class="custom-control-input" id="CInfo6Yes" name="CInfo6ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes</label>
                                    <input type="radio" class="custom-control-input" id="CInfo6No" name="CInfo6ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="CInfo6NA" name="CInfo6ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">N/A</label>
                                    <input type="radio" class="custom-control-input" id="CInfo6Duplicated" name="CInfo6ContributionIndex">
                                    <label class="custom-control-label" for="defaultUnchecked">Duplicated</label>
                                    <input type="hidden" id="CInfo6" name="CInfo6" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="3a">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                1. Article is Unique
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="1">
                                    <input type="radio" class="custom-control-input" id="AQIInfo1Yes" name="AQIInfo1AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes +20</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo1NA" name="AQIInfo1AQI">
                                    <label class="custom-control-label" for="defaultChecked">N/A +20</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo1No" name="AQIInfo1AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo1Corrected" name="AQIInfo1AQI">
                                    <label class="custom-control-label" for="defaultChecked">Yes, Corrected +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo1NoArticle" name="AQIInfo1AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No Article(s) attached</label>
                                    <input type="hidden" id="AQIInfo1" name="AQIInfo1" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                2. Article written to be reused
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="2">
                                    <input type="radio" class="custom-control-input" id="AQIInfo2Yes" name="AQIInfo2AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo2NA" name="AQIInfo2AQI">
                                    <label class="custom-control-label" for="defaultChecked">N/A +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo2No" name="AQIInfo2AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo2Corrected" name="AQIInfo2AQI">
                                    <label class="custom-control-label" for="defaultChecked">Yes, Corrected +5</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo2NoArticle" name="AQIInfo2AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No Article(s) attached</label>
                                    <input type="hidden" id="AQIInfo2" name="AQIInfo2" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                3. Article title and content are related
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="3">
                                    <input type="radio" class="custom-control-input" id="AQIInfo3Yes" name="AQIInfo3AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo3NA" name="AQIInfo3AQI">
                                    <label class="custom-control-label" for="defaultChecked">N/A +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo3No" name="AQIInfo3AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo3Corrected" name="AQIInfo3AQI">
                                    <label class="custom-control-label" for="defaultChecked">Yes, Corrected +5</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo3NoArticle" name="AQIInfo3AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No Article(s) attached</label>
                                    <input type="hidden" id="AQIInfo3" name="AQIInfo3" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                4. Captured customer context and symptons
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="4">
                                    <input type="radio" class="custom-control-input" id="AQIInfo4Yes" name="AQIInfo4AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo4NA" name="AQIInfo4AQI">
                                    <label class="custom-control-label" for="defaultChecked">N/A +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo4No" name="AQIInfo4AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo4Corrected" name="AQIInfo4AQI">
                                    <label class="custom-control-label" for="defaultChecked">Yes, Corrected +5</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo4NoArticle" name="AQIInfo4AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No Article(s) attached</label>
                                    <input type="hidden" id="AQIInfo4" name="AQIInfo4" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                5. Agent Add/capture the environment (including topics And categories)
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="5">
                                    <input type="radio" class="custom-control-input" id="AQIInfo5Yes" name="AQIInfo5AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo5NA" name="AQIInfo5AQI">
                                    <label class="custom-control-label" for="defaultChecked">N/A +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo5No" name="AQIInfo5AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo5Corrected" name="AQIInfo5AQI">
                                    <label class="custom-control-label" for="defaultChecked">Yes, Corrected +5</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo5NoArticle" name="AQIInfo5AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No Article(s) attached</label>
                                    <input type="hidden" id="AQIInfo5" name="AQIInfo5" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                6. Audience Correct
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="6">
                                    <input type="radio" class="custom-control-input" id="AQIInfo6Yes" name="AQIInfo6AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo6NA" name="AQIInfo6AQI">
                                    <label class="custom-control-label" for="defaultChecked">N/A +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo6No" name="AQIInfo6AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo6Corrected" name="AQIInfo6AQI">
                                    <label class="custom-control-label" for="defaultChecked">Yes, Corrected +5</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo6NoArticle" name="AQIInfo6AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No Article(s) attached</label>
                                    <input type="hidden" id="AQIInfo6" name="AQIInfo6" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                7. Formatting: steps, bullets,font, etc
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="7">
                                    <input type="radio" class="custom-control-input" id="AQIInfo7Yes" name="AQIInfo7AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo7NA" name="AQIInfo7AQI">
                                    <label class="custom-control-label" for="defaultChecked">N/A +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo7No" name="AQIInfo7AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo7Corrected" name="AQIInfo7AQI">
                                    <label class="custom-control-label" for="defaultChecked">Yes, Corrected +5</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo7NoArticle" name="AQIInfo7AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No Article(s) attached</label>
                                    <input type="hidden" id="AQIInfo7" name="AQIInfo7" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                8. Link embedded and working (including files attached)
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="8">
                                    <input type="radio" class="custom-control-input" id="AQIInfo8Yes" name="AQIInfo8AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo8NA" name="AQIInfo8AQI">
                                    <label class="custom-control-label" for="defaultChecked">N/A +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo8No" name="AQIInfo8AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo8Corrected" name="AQIInfo8AQI">
                                    <label class="custom-control-label" for="defaultChecked">Yes, Corrected +5</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo8NoArticle" name="AQIInfo8AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No Article(s) attached</label>
                                    <input type="hidden" id="AQIInfo8" name="AQIInfo8" />
                                </div>
                            </div>
                        </div>
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                9. Validate And Publishd the article (externally)
                            </div>
                            <div class="panel-body">
                                <div class="custom-control custom-radio" tabindex="9">
                                    <input type="radio" class="custom-control-input" id="AQIInfo9Yes" name="AQIInfo9AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">Yes +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo9NA" name="AQIInfo9AQI">
                                    <label class="custom-control-label" for="defaultChecked">N/A +10</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo9No" name="AQIInfo9AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo9Corrected" name="AQIInfo9AQI">
                                    <label class="custom-control-label" for="defaultChecked">Yes, Corrected +5</label>
                                    <input type="radio" class="custom-control-input" id="AQIInfo9NoArticle" name="AQIInfo9AQI">
                                    <label class="custom-control-label" for="defaultUnchecked">No Article(s) attached</label>
                                    <input type="hidden" id="AQIInfo9" name="AQIInfo9" />
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="tab-pane" id="5a">
                        <div class="panel panel-default">
                            <div class="panel-heading panel-heading-custom">
                                Comments
                            </div>
                            <div class="panel-body">
                                <div class="form-group">
                                    <textarea class="form-control" id="CoachComments" name ="CoachComments" rows="10" maxlength="500"></textarea>
                                </div>
                            </div>
                        </div>

                    </div>
                </div>

            </div>
        </div>

        <div class="row">
            <div class="col-md-4">

            </div>
            <div class="col-md-4">

            </div>
            <div class="col-md-4">
                <button class="btn btn-danger" style="display:inline-block; float:left;">Clear All</button>
                <button class="btn btn-primary" style="display:inline-block; float:right;" id="submitanswer" type="submit" onclick="">Submit</button>
            </div>
        </div>
    </form>
</div>
<script>
    //Business Name Fetch
    $("#BusinessName1").click(function () {
        $("#AInfo2").val("IGS");
    });
    $("#BusinessName2").click(function () {
       
        $("#AInfo2").val("Voice");
    });
    //Coach Name Fetch
    $("#BA").click(function () {
        $("#AInfo4").val("Beatrice Ahmad");
    });
    $("#GS").click(function () {
        $("#AInfo4").val("Gabriel Stefan");
    });
    $("#PP").click(function () {
        $("#AInfo4").val("Pamela Perez");
    });
    $("#GP").click(function () {
        $("#AInfo4").val("Gabriel Perez");
    });
    $("#SV").click(function () {
        $("#AInfo4").val("Sue Van Gelder");
    });

    //Link Accuracy Fetch
    $("#LInfo1Yes100").click(function () {
        $("#LInfo1").val("100");
    });
    $("#LInfo1Corrected50").click(function () {
        $("#LInfo1").val("50");
    });
    $("#LInfo1No0").click(function () {
        $("#LInfo1").val("0");
    });

    //Contribution Index Fetch
    $("#CInfo1Yes").click(function () {
        $("#CInfo1").val("Yes");
    });
    $("#CInfo1No").click(function () {
        $("#CInfo1").val("No");
    });
    $("#CInfo2Yes").click(function () {
        $("#CInfo2").val("Yes");
    });
    $("#CInfo2No").click(function () {
        $("#CInfo2").val("No");
    });
    $("#CInfo2NA").click(function () {
        $("#CInfo2").val("N/A");
    });
    $("#CInfo3Yes").click(function () {
        $("#CInfo3").val("Yes");
    });
    $("#CInfo3No").click(function () {
        $("#CInfo3").val("No");
    });
    $("#CInfo4Yes").click(function () {
        $("#CInfo4").val("Yes");
    });
    $("#CInfo4No").click(function () {
        $("#CInfo4").val("No");
    });
    $("#CInfo4NA").click(function () {
        $("#CInfo4").val("N/A");
    });
    $("#CInfo5Yes").click(function () {
        $("#CInfo5").val("Yes");
    });
    $("#CInfo5No").click(function () {
        $("#CInfo5").val("No");
    });
    $("#CInfo6Yes").click(function () {
        $("#CInfo6").val("Yes");
    });
    $("#CInfo6No").click(function () {
        $("#CInfo6").val("No");
    });
    $("#CInfo6NA").click(function () {
        $("#CInfo6").val("N/A");
    });
    $("#CInfo6Duplicated").click(function () {
        $("#CInfo6").val("Duplicated");
    });
    //AQI Index Fetch
    $("#AQIInfo1Yes").click(function () {
        $("#AQIInfo1").val("20");
    });
    $("#AQIInfo1NA").click(function () {
        $("#AQIInfo1").val("20");
    });
    $("#AQIInfo1No").click(function () {
        $("#AQIInfo1").val("0");
    });
    $("#AQIInfo1Corrected").click(function () {
        $("#AQIInfo1").val("10");
    });
    $("#AQIInfo1NoArticle").click(function () {
        $("#AQIInfo1").val("0");
    });

    $("#AQIInfo2Yes").click(function () {
        $("#AQIInfo2").val("20");
    });
    $("#AQIInfo2NA").click(function () {
        $("#AQIInfo2").val("20");
    });
    $("#AQIInfo2No").click(function () {
        $("#AQIInfo2").val("0");
    });
    $("#AQIInfo2Corrected").click(function () {
        $("#AQIInfo2").val("10");
    });
    $("#AQIInfo2NoArticle").click(function () {
        $("#AQIInfo2").val("0");
    });

    $("#AQIInfo3Yes").click(function () {
        $("#AQIInfo3").val("20");
    });
    $("#AQIInfo3NA").click(function () {
        $("#AQIInfo3").val("20");
    });
    $("#AQIInfo3No").click(function () {
        $("#AQIInfo3").val("0");
    });
    $("#AQIInfo3Corrected").click(function () {
        $("#AQIInfo3").val("10");
    });
    $("#AQIInfo3NoArticle").click(function () {
        $("#AQIInfo3").val("0");
    });

    $("#AQIInfo4Yes").click(function () {
        $("#AQIInfo4").val("20");
    });
    $("#AQIInfo4NA").click(function () {
        $("#AQIInfo4").val("20");
    });
    $("#AQIInfo4No").click(function () {
        $("#AQIInfo4").val("0");
    });
    $("#AQIInfo4Corrected").click(function () {
        $("#AQIInfo4").val("10");
    });
    $("#AQIInfo4NoArticle").click(function () {
        $("#AQIInfo4").val("0");
    });

    $("#AQIInfo5Yes").click(function () {
        $("#AQIInfo5").val("20");
    });
    $("#AQIInfo5NA").click(function () {
        $("#AQIInfo5").val("20");
    });
    $("#AQIInfo5No").click(function () {
        $("#AQIInfo5").val("0");
    });
    $("#AQIInfo5Corrected").click(function () {
        $("#AQIInfo5").val("10");
    });
    $("#AQIInfo5NoArticle").click(function () {
        $("#AQIInfo5").val("0");
    });

    $("#AQIInfo6Yes").click(function () {
        $("#AQIInfo6").val("20");
    });
    $("#AQIInfo6NA").click(function () {
        $("#AQIInfo6").val("20");
    });
    $("#AQIInfo6No").click(function () {
        $("#AQIInfo6").val("0");
    });
    $("#AQIInfo6Corrected").click(function () {
        $("#AQIInfo6").val("10");
    });
    $("#AQIInfo6NoArticle").click(function () {
        $("#AQIInfo6").val("0");
    });

    $("#AQIInfo7Yes").click(function () {
        $("#AQIInfo7").val("20");
    });
    $("#AQIInfo7NA").click(function () {
        $("#AQIInfo7").val("20");
    });
    $("#AQIInfo7No").click(function () {
        $("#AQIInfo7").val("0");
    });
    $("#AQIInfo7Corrected").click(function () {
        $("#AQIInfo7").val("10");
    });
    $("#AQIInfo7NoArticle").click(function () {
        $("#AQIInfo7").val("0");
    });

    $("#AQIInfo8Yes").click(function () {
        $("#AQIInfo8").val("20");
    });
    $("#AQIInfo8NA").click(function () {
        $("#AQIInfo8").val("20");
    });
    $("#AQIInfo8No").click(function () {
        $("#AQIInfo8").val("0");
    });
    $("#AQIInfo8Corrected").click(function () {
        $("#AQIInfo8").val("10");
    });
    $("#AQIInfo8NoArticle").click(function () {
        $("#AQIInfo8").val("0");
    });

    $("#AQIInfo9Yes").click(function () {
        $("#AQIInfo9").val("20");
    });
    $("#AQIInfo9NA").click(function () {
        $("#AQIInfo9").val("20");
    });
    $("#AQIInfo9No").click(function () {
        $("#AQIInfo9").val("0");
    });
    $("#AQIInfo9Corrected").click(function () {
        $("#AQIInfo9").val("10");
    });
    $("#AQIInfo9NoArticle").click(function () {
        $("#AQIInfo9").val("0");
    });

    function validateFields() {
        if ($("#AInfo2").val() == '')
        {
            alert("Business Name cannot be empty!");
            return false;
        }

        if ($("#AInfo4").val() == '')
        {
            alert("Coach Name cannot be empty!");
            return false;
        }

        if ($("#LInfo1").val() == '')
        {
            alert('Link Accuracy cannot be empty!');
            return false;
        }

        if ($("#CInfo1").val() == '')
        {
            alert('Oppertunity to link resolution cannot be empty!');
            return false;
        }

        if ($("#CInfo2").val() == '') {
            alert('Agent linked resolution article cannot be empty!');
            return false;
        }

        if ($("#CInfo3").val() == '') {
            alert('Oppertunity to modify existing article cannot be empty!');
            return false;
        }

        if ($("#CInfo4").val() == '') {
            alert('Agent modified existing attached article cannot be empty!');
            return false;
        }
        if ($("#CInfo5").val() == '') {
            alert('Oppertunity to create article cannot be empty!');
            return false;
        }

        if ($("#CInfo6").val() == '') {
            alert('Agent created a new article cannot be empty!');
            return false;
        }

        if ($("#AQIInfo1").val() == '')
        {
            alert("Article is Unique cannot be empty!");
            return false;
        }

        if ($("#AQIInfo2").val() == '') {
            alert("Article written to be reused cannot be empty!");
            return false;
        }

        if ($("#AQIInfo3").val() == '') {
            alert("Article title and content are related cannot be empty!");
            return false;
        }
        if ($("#AQIInfo4").val() == '') {
            alert("Captured customer context and symptons cannot be empty!");
            return false;
        }
        if ($("#AQIInfo5").val() == '') {
            alert("Agent add/capture the environment (including topics & categories) cannot be empty!");
            return false;
        }
        if ($("#AQIInfo6").val() == '') {
            alert("Audience Correct cannot be empty!");
            return false;
        }
        if ($("#AQIInfo7").val() == '') {
            alert("Formatting: steps, bullets, font, etc cannot be empty!");
            return false;
        }
        if ($("#AQIInfo8").val() == '') {
            alert("Links embedded and working(including files attached) cannot be empty!");
            return false;
        }
        if ($("#AQIInfo9").val() == '') {
            alert("Validate & Published the article(externally) cannot be empty!");
            return false;
        }

    }

    function cleadfields()
    {
        $("#AInfo2").val() == '';
        $("#AInfo4").val() == '';
        $("#LInfo1").val() == '';
        $("#CInfo1").val() == '';
        $("#CInfo2").val() == '';
        $("#CInfo3").val() == '';
        $("#CInfo4").val() == '';
        $("#CInfo5").val() == '';
        $("#CInfo6").val() == '';
        $("#AQIInfo1").val() == '';
        $("#AQIInfo2").val() == '';
        $("#AQIInfo3").val() == '';
        $("#AQIInfo4").val() == '';
        $("#AQIInfo5").val() == '';
        $("#AQIInfo6").val() == '';
        $("#AQIInfo7").val() == '';
        $("#AQIInfo8").val() == '';
        $("#AQIInfo9").val() == '';
    }
</script>