@model List<Skynax_UserInterface.Models.QuestionAnswer>
<!doctype html>
@{
    ViewBag.Title = "Assessment";
}
<style>
    .alnleft {
        text-align: left;
    }

    .table-hover {
        font-size: 15px;
    }

    .Radio {
        display: inline-flex;
        align-items: center;
    }

    .Radio--large {
        font-size: 2rem;
    }

    .Radio-Input {
        margin: 0 0.5rem 0;
    }

</style>
<h2>Assessment</h2>
<div class=".container-fluid">
    <div class="row">
        @if (Model != null)
        {
            <div class="panel panel-default col-md-12">
                <div class="panel-heading" id="panelheadertext">
                    No of Questions to be Answered - <b>
                        @if (Model != null)
                        {@Model.Count.ToString();
                    }
                </b>
            </div>
            <div class="panel-body">
                <table class="table table-hover" id="tablewithQuestions">
                    <thead>
                        <tr>
                            <th>Question</th>
                            <th>Answer</th>
                            <th>Click</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in Model)
                        {
                        <tr>
                            <td class="questionclass" style="text-align:left">@item.Question</td>
                            <td class="answerclass" style="text-align:left">@item.Answer</td>
                            <td class="typeclass" style="text-align:left">@item.AnswerType</td>
                            <td class="alnleft" style="text-align:left"><button class="popupbutton" id="test1">Answer</button></td>
                        </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>


    }
    else
    {
        <div class="col-md-12">No Questions to show</div>
        <div class="col-md-12">N/A</div>
    }
    </div>
    <div class="row">
        <div class="col-md-12">
            <dv class="col-md-6"><button class="btn btn-primary btn-responsive" id="Next">...</button></dv>
            <dv class="col-md-6"><button class="btn btn-primary btn-responsive" style="align-content:center">Next</button></dv>
        </div>
    </div>
    <!---Below code brings up pop window-->
    <div id="myModal" class="modal">

        <!-- Modal content -->
        <div class="modal-content">
            <div class="modal-header">
                <span class="close">&times;</span>
                <h2>Modal Header</h2>
            </div>
            <div class="modal-body">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th id="questiontopopup">Question</th>
                        </tr>
                        <tr>
                            <th id="answertopopup">Answer</th>
                        </tr>
                    </thead>
              
                </table>
            </div>
            <div class="modal-footer">
                @*<h3>Modal Footer</h3>*@
                <button class="btn btn-primary btn-responsive" id="Next">Cancel</button>
                <button class="btn btn-primary btn-responsive" style="align-content:center">Submit</button>
            </div>
        </div>

    </div>
</div>

<script>
    var popmodal = document.getElementById("myModal");
    var span = document.getElementsByClassName("close")[0];

    /*
Having a .class selector for Event handler will result in bubbling of click event (sometimes to Parent element, sometimes to Children elements in DOM).
event.StopPropagation() method ensures that event doesn't bubble to Parent elements, while event.StopImmediatePropagation()method ensures that event doesn't bubble to Children elements of desired class selector.
*/
    $(".popupbutton").on('click', function (event) {
        event.stopPropagation();
        event.stopImmediatePropagation();

        var itemQ = $(this).closest("tr")   // Finds the closest row <tr> 
            .find(".questionclass")     // Gets a descendent with class="nr"
            .text();         // Retrieves the text within <td>

        var itemA = $(this).closest("tr")   // Finds the closest row <tr> 
            .find(".answerclass")     // Gets a descendent with class="nr"
            .text();

        var itemT = $(this).closest("tr")
            .find(".typeclass")
            .text();

        //document.getElementById('questiontopopup').innerHTML = itemQ;
        //document.getElementById('answertopopup').innerHTML = itemA;

        if (itemT == "1") {
            var split = itemA.split("#");
            var stritem = "";
            var strhtml = "<fieldset><legend>"+itemQ+"</legend>";
            $.each(split, function (key, value) {
                stritem = stritem + "<input class='Radio-Input' type='radio' name='radio1' id='radio1'><label class='Radio Radio--large' for=''>"+ value +"</label><br>";
            });
            strhtml = strhtml + stritem + "</fieldset>";
            document.getElementById('answertopopup').innerHTML = strhtml;
        }
        else if (itemT = "2") {
            var strhtml = "<textarea rows='10' cols='80'>Description</textarea>";
            document.getElementById('answertopopup').innerHTML = strhtml;
        }
       
        popmodal.style.display = "block";

    });

  
    span.onclick = function () {
        popmodal.style.display = "none";
    }
    //when user click anywhere outside of the popup window
    window.onclick = function () {
        if (event.target == popmodal) {
            popmodal.style.display = "none";
        }
    }
    $(document).ready(function () {

    });

    $("#Next").click(function () {
        alert("clicked");
        $.ajax({
            url: "@Url.Action("GetQuestions","Home")",
            success: function (data) {

                $.each(data, function (i, dt) {
                    alert(dt.Question + ' - ' + dt.answers);
                });
                //alert("Result: " + status + " " + xhr.status + " " + xhr.statusText)
            },
            error: function () {
                alert("Result: " + status + " " + xhr.status + " " + xhr.statusText)
            }
        });

    });
</script>
