<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6" />
    </startup>
  <appSettings>
    <add key="Service Client" value="Honeywell Staging Hub Client Service"/>
    <add key="Service Console" value="Honeywell Staging Hub Console Service"/>
    <add key="Service Core Messaging" value="Honeywell Staging Hub Core Messaging Service"/>
    <add key="Service License" value="Honeywell Staging Hub License Manager"/>
    <add key="Service System Monitor" value="Honeywell Staging Hub System Monitor Service"/>
    <add key="Service Upgrade" value="Honeywell Staging Hub Upgrade Service"/>
  </appSettings>
</configuration>